
.footer {
    background: #3F3D56; }
.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px; }
.footer__copyright {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4; }

.socials__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; }

.socials__item {
    margin-right: 20px; }

.socials__item:last-child {
    margin-right: 0; }

.socials__link {
    display: inline-block; }

.socials__link:hover svg path {
    fill: #00F9DD;
    transition: .3s all ease-out; }